@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* BACKGROUND COLOR */
	--dark-background: #202733;
	--light-background: #f6f8ff;

	/* TEXT COLOR */
	--light-text: #cee3e9;
	--dark-text: #51545a;

	/* CARD BACKGROUND COLOR */
	--dark-card: #313A48;
	--light-card: #fefefe;

	/* ACCENT COLOR */
	--accent: #53ffaa;
  --light-accent: #26b36c;

	/* BOX SHADOWS */
	--primary-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  --btn-hover: 0px 0px 40px #53FFAA;
}
